@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./fonts.scss";
@import "./color.scss";

#app {
  margin: 0 auto;
  font-weight: normal;
  font-family: "Lexend Deca";
}

.main {
  transition: all 1.5s ease-in-out;
}

// F
.f-gray {
  color: var(--gray);
}
.f-black {
  color: var(--black);
}
.f-blue {
  color: var(--blue);
}
.f-dark-blue {
  color: var(--dark-blue);
}
.f-white {
  color: var(--white);
}

// H
.h-screen-100 {
  height: 100vh;
}
.h-screen-90 {
  height: 90vh;
}
.h-screen-80 {
  height: 80vh;
}
.h-screen-70 {
  height: 70vh;
}
.h-screen-60 {
  height: 60vh;
}
.h-screen-50 {
  height: 50vh;
}


.left-center {
  left: 45%;
}


.m-center {
  margin: 0px auto;
}
.m-auto {
  margin: auto;
}

.btn-accent {
  background: var(--black);
  color: var(--white);
  padding: 13px 12px;
  font-size: 14px;
  border-radius: 10px;

  span {
    z-index: 9;
  }

  &::before {
    content: "";
    position: absolute;
    height: inherit;
    width: 0;
    height: 47px;
    margin-left: -12px;
    border-radius: 10px;
    z-index: -1;
    background-color: var(--dark-blue);
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
  }

  &:hover {
    background: var(--dark-blue);

    // &::before {
    //   width: 142px;
    //   z-index: 1;
    // }
  }
}