@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./fonts.scss";
@import "./color.scss";

#app {
  font-weight: normal;
  font-family: "Lexend Deca";
}

// F
.f-gray {
  color: var(--gray);
}
.f-black {
  color: var(--black);
}
.f-blue {
  color: var(--blue);
}
.f-dark-blue {
  color: var(--dark-blue);
}
.f-white {
  color: var(--white);
}

// H
.h-screen-100 {
  height: 100vh;
}
.h-screen-90 {
  height: 90vh;
}
.h-screen-80 {
  height: 80vh;
}
.h-screen-70 {
  height: 70vh;
}
.h-screen-60 {
  height: 60vh;
}
.h-screen-50 {
  height: 50vh;
}


.left-center {
  left: 45%;
}


.m-center {
  margin: 0px auto;
}
.m-auto {
  margin: auto;
}