@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-weight: normal;
  font-family: "Lexend Deca";
}

.img_slide_web{
  margin: auto;
  width: 90%;
}

/* mobile */
@media (max-width: 375px) {
  .img_slide_mobile {
    height: 10rem;
    width: auto;
    margin: auto;
    object-fit: cover;
  }
  .imgSlide2 {
    width: 40%;
  }
}
@media (min-width: 376px) and (max-width: 1023px) {
  .img_slide_mobile {
    height: 26rem;
    width: auto;
    margin: auto;
    object-fit: cover;
  }
  .imgSlide2 {
    width: 40%;
  }
}

/* higer width than mobile */
@media (min-width: 1024px) {
  .img_slide_mobile {
    height: 37rem;
    width: auto;
    margin: auto;
    object-fit: cover;
  }
  
}







.wavy {
  position: absolute;
  width: 100%;
}

.f-gray {
  color: var(--gray);
}

.f-black {
  color: var(--black);
}

.f-blue {
  color: var(--blue);
}

.f-dark-blue {
  color: var(--dark-blue);
}

.f-white {
  color: var(--white);
}


.h-screen-100 {
  height: 100vh;
}

.h-screen-90 {
  height: 90vh;
}

.h-screen-80 {
  height: 80vh;
}

.h-screen-70 {
  height: 70vh;
}

.h-screen-60 {
  height: 60vh;
}

.h-screen-50 {
  height: 50vh;
}


.left-center {
  left: 45%;
}


.m-center {
  margin: 0px auto;
}

.m-auto {
  margin: auto;
}

.card-mini {
  transition: all 0.2s ease-in-out;
  max-height: 70px;
  max-width: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  cursor: pointer;

  span {
    font-size: 12px;
  }

  &:hover {
    transform: scale(1.3);
  }
}

.enlarge {
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.3);
  }
}